<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{globals.title}}</title>

	{{#globals.javascript}}
		<script type="text/javascript" src="{{{.}}}"></script>
	{{/globals.javascript}}
	
	{{#globals.styles}}
		<link rel="stylesheet" href="{{{.}}}">
	{{/globals.styles}}

</head>
<body>
	{{teste}}
</body>
</html>