<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{globals.title}}</title>

	{{#globals.javascript}}
		<script type="text/javascript" src="{{{.}}}"></script>
	{{/globals.javascript}}
	
	{{#globals.styles}}
		<link rel="stylesheet" href="{{{.}}}">
	{{/globals.styles}}

</head>
<body>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Cor</th>
					<th>Primeira faixa</th>
					<th>Segunda faixa</th>
					<th>Terceira faixa</th>
					<th>Quarta faixa</th>
				</tr>
			</thead>
			<tbody>
				{{#resistor.color-table}}
					<tr>
						<td class="{{class}}">{{name}}</td>
						<td>{{first}}</td>
						<td>{{second}}</td>
						<td>{{#third}}x10{{/third}}<sup>{{{third}}}</sup></td>
						<td>{{#fourth}}&#177; {{/fourth}}{{fourth}}{{#fourth}}%{{/fourth}}</td>
					</tr>
				{{/resistor.color-table}}
			</tbody>
		</table>
	</div>

</body>
</html>